@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(12, 12, 12);
    font-family: Kanit, Arial;
    color: white;
}

main.calculator {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-display {
    box-sizing: border-box;
    border: solid 1px white;
    border-radius: 5px 5px 0 0;
    background-color: #8908CF;
    width: 30vw;
    padding: 20px;
    text-align: right;
}

#display {
    overflow: hidden;
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
}

.calculator-buttons {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30vw;
    height: 30vh;
}

.calculator-buttons> div {
    box-sizing: border-box;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    background-color: #8908CF;
    font-size: x-large;
    cursor: pointer;
}

.calculator-buttons div:hover {
    background-color: #9209DB;
}

.calculator-buttons div.math-operators {
    font-weight: 700;
    background-color: #791FB5;
}

.calculator-buttons div.math-operators:hover {
    background-color: #8908CF;
}

div#clearButton {
    background-color: #5E188C;
    font-weight: 700;
}

div#clearButton:hover {
    background-color: #A92BFC;
}

div#resultButton {
    background-color: #A92BFC;
}

div#resultButton:hover {
    background-color: #5E188C;
}

.developed-area {
    font-size: small;
}
.developed-area a{
    color: white;
    
}

@media (max-width:768px) {
    .calculator-display, .calculator-buttons {
        width: 90vw;
    }

    #display {
        font-size: larger;
    }
}